body{
    background-color: white;
}
.container{
  max-width: 1200px;
  margin: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-point{
   display: flex;
    justify-content: space-between;
    gap: 15px; 
}
.customize-btn{
    color: white !important;
    background-color: blue;
    border-radius: 10px;
    height:45px;
    width: 180px;
    outline: none;
    border:none;
    cursor:pointer;
}
.font{
    font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  color: #575757;
  font-display: block;
}
.hero{

   background-image: url(./images/banner.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;
}
.hero-content{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.banner-font{
    font-family: "Inter", sans-serif;
    font-size: clamp(50px, 7vw, 88px);
    font-weight: 600;
    color: #fff;
    line-height: 1.05;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.banner-text{
    color: #d6d6d6;
    font-size: 22px;
    max-width: 750px;
    margin: 0 auto 45px;
    line-height: 1.6;
    

}
section div button{
margin-top: 150px;
}