body{
    background-color: white;
}
.container{
  max-width: 1200px;
  margin: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-point{
   display: flex;
    justify-content: space-between;
    gap: 15px; 
}
.customize-btn{
    color: white !important;
    background-color: blue;
    border-radius: 10px;
    height:45px;
    width: 180px;
    outline: none;
    border:none;
    cursor:pointer;
}
.font{
    font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  color: #575757;
  font-display: block;
}
.hero{
    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("./images/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;

    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 100px;
}
.hero-content{
    width:85%;
    max-width:1100px;
    text-align:center;
}
.banner-font{
    font-family:"Inter",sans-serif;
     font-size: clamp(48px, 6vw, 72px);;
    font-weight:800;
    line-height:1.05;
    letter-spacing:-3px;
    color:white;
}
.banner-text{
    color:#d6d6d6;
    font-size:24px;
    width:70%;
    margin:30px auto;
    line-height:1.6;
}